.Header{
  display: flex;
  padding-top: 0.3vh;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: rgba(34,34,34,0);
  margin-bottom: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  min-height: 6vh;
  z-index: 10;
}

.Headermod{
  display: flex;
  position: relative;
  flex-direction: column;
}

.Headershrink{
  display: flex;
  padding-top: 0.3vh;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: rgba(34,34,34,1);
  min-height: 6vh;
  padding-bottom: 0.3vh;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  z-index: 10;
}

.Bar{
  width: 100%;
  min-height: 6.7vh;
  background: rgba(255,255,255,0);
  position:fixed;
  transition: 0.05s;
}

.Barshrink{
  width: 100%;
  margin-top: 7.4vh;
  min-height: 0.3vh;
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 15;
  transition: 0.3s;
}

.is-sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: #222;
  margin-bottom: 0;
  position: fixed;
  width: 100%;  
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
}

.Home{
    padding-left: 4vw;
    text-align: center;
    font-size: 2vmin;
    color: black;
    font-family: 'Optimabold';
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.2s;
}

.Homeshrink{
  padding-left: 4.2vw;
  text-align: center;
  font-size: 1.75vmin;
  color: white;
  font-family: 'Optimabold';
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: 0.2s;
}


.Header-text{
    padding-left: 22.45vw;
    padding-right: 31vw;  
    text-align: center;
    font-size: 2.75vmin;
    color: black;
    font-family: 'Optimabold';
    letter-spacing: 2px;
    transition: 0.2s;
}

.Header-textshrink{
  padding-left: 23.3vw;
  padding-right: 33vw;  
  text-align: center;
  font-size: 2.25vmin;
  color: white;
  font-family: 'Optimabold';
  letter-spacing: 2px;
  transition: 0.2s;
}


nav {
    background-color: #0000;
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
  }

.collapse {
    animation: collapse .5s ease forwards;
  }

.open {
    animation: open .5s ease forwards;
}

